<html layout:decorate="~{/user/board_layout}">
<div layout:fragment="boardContent" class="container">
    <h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
    <form th:action="@{/board/page}"  method="post" enctype="multipart/form-data" >
        <div class="mb-3">
            <textarea name="content" class="form-control" placeholder="내용"></textarea>
            <input type="file" class="form-control" name="file">
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>