<html layout:decorate="~{/user/board_layout}">
<div layout:fragment="boardContent" class="container my-3">

  <img class="imgSize" th:src="${board.filepath}">
  <div th:text="${board.content}"></div>


 <!-- <h5 th:text="|${#lists.size(board.boardAnswerList)}개의 답변이 있습니다.|"></h5>
  <div>
    <ul>
      <li th:each="boardAnswer : ${board.boardAnswerList}" th:text="${boardAnswer.content}"></li>
    </ul>
  </div>-->

  <form th:action="@{|/boardAnswer/create/${board.id}|}" method="post">
    <textarea name="content" id="content" rows = "15"></textarea>
    <input type="submit" value="답변등록">
  </form>

</div>
</html>